*{
    margin:0;
    padding:0;
}

body{
    background-color:#212121;
    color:#fff;
    font-family: 'Poppins', sans-serif;
}
nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:4rem;
    /* background-color:#424242; */
}
.left img{
    height:3rem;
    margin-top:1rem;
}
nav ul{
    display:flex;
    justify-content:center;
}
nav ul li{
    list-style:none;
    margin:1rem;
}
nav ul li a{
    color:#fff;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
    position:relative;
}
nav ul li a::after{
    content:'';
    width:0%;
    background:#ff004f;
    left:0;
    bottom:-0.3rem;
    border-bottom:3px solid #ff004f;
    position:absolute;
}
nav ul li a:hover::after{
    cursor:pointer;
    width:100%;
    border-bottom: 2px solid red;
    transition:0.5s;
}
.left{
    font-size:1.4rem;
}
.container{
    height:80vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin:2rem;
}
.left-container{
    font-size:3rem;
}
.right-container img{
    height:20rem;
}
.purple{
    color:rgb(170,107,228);
}
